//Colors
$primary: #18204A;
$primary-light: #253274;
$secondary: #EDF0EB;
$accent: #C1CEBD;

//Padding and margins for containers
$base-horizontal-margin: 7vmax;

//Paddign and margins
$base-box-padding: 1vmax;
$base-box-border-radius: 12px;

//Border
$box-border: 2px solid $primary;